{
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": { "node": { "extensions": [".js", ".jsx"] } }
  },
  "extends": ["google", "standard-react", "plugin:flowtype/recommended"],
  "globals": {"google": true, "mount": true, "shallow": true},
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["babel", "react", "import", "flowtype"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "require-jsdoc": 0,
    "space-before-function-paren": [2, "never"],
    "arrow-parens": 0,
    "no-invalid-this": 0,
    "semi": 0,
    "no-undef": 2,
    "new-cap": 0,
    "object-curly-spacing": 0,
    "babel/new-cap": 1,
    "babel/no-invalid-this": 1,
    "babel/semi": 1,
    "comma-dangle": [2, "never"],
    "max-len": 0,
    "react/jsx-no-undef": [2, { "allowGlobals": true }]
  }
}
