.button--plain {
  text-decoration: underline;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: none;
}
.button--light {
  color: $carrara;
  &--disabled {
    color: unquote("rgba(#{$color-white}, 0.32)");
    background-color: transparent;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
  }
}
