$ebony-clay: #22313F;
$madison: #2C3E50;
$bluewood: #34495E;

$white: #FFFFFF;
$carrara: #F2F1EF;
$gallery: #EEEEEE;
$iron: #DADFE1;
$light-gray: #9E9E9E;
$gray: #424242;
$dark-gray: #212121;
$black: #000;
$alizarin: #e74c3c;
$orange: #f39c12;
$green: #2ecc71;

$alert: $alizarin;
$success: $green;
$warning: $orange;

$border-color: $light-gray;
