.mdi {
  display: inline-block;
  vertical-align: middle;
  line-height: 1px;
}

.mdi-32px {
  font-size: 32px;
  line-height: 32px;
}

.mdi-18px {
  line-height: 18px;
}

.mdi-24px {
  line-height: 24px;
}

.mdi-24px {
  line-height: 24px;
}

.mdi-48px {
  line-height: 48px;
}
