.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

.mdl-button--light {
  color: $carrara;
}

.mdl-button--disabled {
}

.mdl-card__actions--spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
