.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

.button--light {
  color: $carrara;
  &--disabled {
    color: unquote("rgba(#{$color-white}, 0.32)");
    background-color: transparent;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
  }
}

.mdl-card__actions--spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mdl-layout__drawer-button {
  margin: 0;
  background: $carrara;
}
