.modal__overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  z-index: $z-index-popups;
  transform: translate(-50%, -50%);
  &>div {
    display: flex;
    flex-direction: column;
  }
}

.modal__content {
  flex: 0 1 auto;
  overflow-y: auto;
}

.modal__spacer {
  flex: 1 1 auto;
}

.modal__actions {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
