$navigation-link-color: $iron;
$navigation-link-color-active: $carrara;
$navigation-link-color-hover: $carrara;
$navigation-link-background-color: none;
$navigation-link-background-color-hover: $ebony-clay;

.main-navigation {
  margin: 0 1.8rem !important;
}

.main-navigation__link {
  display: inline-block;
  background: $navigation-link-background-color;
  color: $navigation-link-color;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  &:hover {
    background: $navigation-link-background-color-hover;
    color: $navigation-link-color-hover;
  }
  &--active {
    color: $carrara;
    text-decoration: underline;
    &:hover {
      background: $navigation-link-background-color;
    }
  }
}

.mdl-layout__drawer .main-navigation {
  margin: 0 !important;
}
