.notifications__container {
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  z-index: $z-index-notifications;
}
.notification {
  max-width: 400px;
  background: $carrara;
  display: flex;
  flex-direction: row;
  color: $dark-gray;
  justify-content: center;
  align-items: center;
  & + & {
    margin-top: 1px;
  }
  .notification__indicator {
    flex: 0 0 5px;
    align-self: stretch;
    &--success {background: $success;}
    &--alert {background: $alert;}
    &--warning {background: $warning;}
    &--neutral {display: none;}
  }
  .notification__content {
    padding: 0.5rem;
    flex: 1 0 auto;
    justify-content: center;
  }
  .notification__actions {
    flex: 0;
  }
}
