.Select {
  flex: 1 1 auto;
  min-width: 120px;
  align-self: stretch;
}
.Select-control {
  border-radius: none;
}

.Select--no-border {
  .Select-control {
    border: none;
  }
}

.Select--dark {
  .Select-control {
    background: $gray !important;;
  }
  &.has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .Select-input > input {
    color: $iron;
  }
  .Select-menu-outer {
    @include shadow-2dp();
    background: $carrara;
    border: 1px solid $dark-gray;
  }
  .Select-option {
    color: $dark-gray !important;
    background: none;
  }
  .Select-option.is-selected,  {
    background: darken($carrara, 5%);
    text-decoration: underline;
  }
}

