$side-navigation-link-color: $light-gray;
$side-navigation-link-color-active: $iron;
$side-navigation-link-color-hover: $iron;
$side-navigation-background-color: $dark-gray;
$side-navigation-link-background-color: lighten($side-navigation-background-color, 5%);
$side-navigation-link-background-color-hover: lighten($side-navigation-link-background-color, 5%);

.side {
  max-width: 100%;
  display: flex;
  flex: 1 0 auto;
}
.side--outer-container {
  flex: 1 1 auto;
  overflow: auto;
}
.side__side-container {
  flex: 0 0 15rem;
  position: relative;
  display: block;
  background: $side-navigation-background-color;
}
.side__navigation {
  flex: 1;
  flex-direction: column;
}
.side__navigation__link {
  background: $side-navigation-link-background-color;
  display: block;
  flex: 1;
  color: $side-navigation-link-color;
  padding: 0.5rem 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &:hover {
    color: $side-navigation-link-color-hover;
    background: $side-navigation-link-background-color-hover;
  }
  &.side__navigation__link--active {
    color: $side-navigation-link-color-active;
    text-decoration: underline;
    &:hover {
      background: $side-navigation-link-background-color;
    }
  }
}
