table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

th {
  width: 150px;
}

td, th {
  text-align: left;
  padding: 0.5rem;
}

th + td {
  padding-left: 2rem;
}

.ReactTable {
  width: 100%;
}
