table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

th {
  width: 150px;
}

td, th {
  text-align: left;
  padding: 0.5rem;
}

th + td {
  padding-left: 2rem;
}

.ReactTable {
  align-self: stretch;
  background: $carrara;
}

.rt-td, .rt-tr, .rt-th {
  &.-hidden {
    display: none;
  }
}

.rt-thead {
  background: lighten($carrara, 3%) !important;
  .rt-tr {
    text-align: left !important;
  }
}

.rt-noData {
  position: static !important;
  flex: 1 !important;
  align-items: center !important;
  justify-content: center !important;
  transform: none !important;
}

.sub-component {
  background: darken($gallery, 5%);
}
