.authentication {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 30rem;
}

.logo-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  border-left: 1px solid #E1E1E1;
  color: #9E9E9E;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form {
  padding: 1rem;
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

.input {
  font-size: 1rem;
  border: none;
  height: 1.8rem;
  background: #F2F1EF;
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 0.5rem;
  resize: none;
  border-radius: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  background: #26AE53;
  color: #F2F1EF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.14), 0 3px 6px rgba(0,0,0,0.2);
}

.button:hover {
  background: #2ecc71;
  box-shadow: 0 2px 4px rgba(0,0,0,0.14), 0 3px 6px rgba(0,0,0,0.2);
}

@media only screen and (max-width : 320px) {
  .authentication {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .form {
    padding: 1rem;
  }

  .form-container {
    border: none;
  }
}
