@import 'colors';
@import 'material-design/_material-design-lite';
@import 'vars';
@import 'mdi';
@import 'containers';
@import 'mdl-custom';
@import 'navigation';
@import 'side';
@import 'button';
@import 'popup';
@import 'select';
@import 'notifications';
@import 'tables';
@import 'modal';
@import 'image';

html {
  height: auto;
}

.page-content {
  display: flex;
  flex: 1 0 auto;
  & > div {
    flex: 1 0 auto;
  }
}

.stretch {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  background: $gallery;
  min-height: 100vh;
}

.block {
  display: block;
}

h1,h2,h3,h4,h5,h6 {margin: 0.5rem 0;}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
