#app {
  display: flex;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0.5rem 0;
  padding: 0;
  font-weight: 900;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
    font-size: .83rem;
}
h6 {
    font-size: .67rem;
}

abbr {
  font-variant: none !important;
  border-bottom: none !important;
  text-decoration: none !important;
}

.Select-multi-value-wrapper {
  padding-left: 10px;
}
