@import 'colors';
@import 'material-design/_material-design-lite';
@import 'mdi';
@import 'containers';
@import 'mdl-custom';
@import 'navigation';
@import 'side';
@import 'button';
@import 'popup';
@import 'select';

html, body, .stretch {
  height: 100%;
  max-width: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex: 1;
}

body {
  background: $gallery;
}

.page {
  display: flex;
  align-content: stretch;
}
